.Header img{
    height: 80px;  
}
.Header{
    text-align: center;
}
.Header nav{
    background-color: aquamarine;
    line-height: 40px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    margin-right: 20px;
    padding:5px
}
nav a:hover{
    background-color: chartreuse;
}
